# Shared
NODE_ENV=production

# Database
POSTGRES_PASSWORD=admin123
DATABASE_URL=postgresql://postgres:admin123@localhost:5432/system?schema=public&connection_limit=5

# API
JWT_SECRET=ce5236234f23f94f612b7c06db1f354842159c851d14d61bbce6267e10d3eab690971ad28cad9205ced14604ed98044af6c154ae386595d2c6dfed3461144a4c
JWT_ACCESS_TOKEN_TTL=5m
PORT=4000
HOST=0.0.0.0
CORS_ORIGINS=https://system-web-six.vercel.app
LOG_LEVEL=info

# Web
NEXT_PUBLIC_API_URL=techiaapi.railway.internal

